<p>This email was sent to you due to a password change on this account at Thesis Hub portal.</p>
<p>Click <a href="${loginUrl}">here</a> to log into your account.</p>
<p>If you did not ask to perform this action please contact system administrator immediately.</p>